*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 30px auto;
}

#input-field {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
}

#filter {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 10px;
    outline: none;
}

.btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#clear {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}