@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -60px;
    margin-bottom: 0px;
}

header h1 {
    font-weight: 300;
    margin-left: 5px;
}

#input-field {
    width: 100%;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: -30px;
    outline: none;
}

#filter {
    width: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    outline: none;
    background-color: transparent;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #333;
    cursor: pointer;
    color: #fff;
}

#clear {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}


.items {
    display: flex;
    flex-wrap: wrap;
}

.items li {
    display: flex;
    margin: 0 5px 20px;
    width: 40%;
    padding: 10px 15px;
    font-weight: 700;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text-red {
    color: red;
}